﻿@model WebApplication2.Models.score

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>score</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.heroid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.heroid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.itemid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.itemid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.domainName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.domainName)
        </dd>


         <dt>
            @Html.DisplayNameFor(model => model.score1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.score1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.domain.color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.domain.color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hero.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hero.name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
