﻿@model WebApplication2.Models.score

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>score</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.score1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.score1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.domain.color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.domain.color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hero.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hero.name)
        </dd>

    </dl>
</div>
<p>
   
    @Html.ActionLink("Back to List", "Index")
</p>
