﻿@model IEnumerable<WebApplication2.Models.score>

@{
    ViewBag.Title = "Score";
}

<h2>ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.heroid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.itemid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.domainName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.score1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.heroid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.itemid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.domainName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.score1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { heroid=item.heroid,itemid=item.itemid, name=item.domainName/* id=item.PrimaryKey */ }) |
           
            @Html.ActionLink("Delete", "Delete", new { heroid = item.heroid, itemid = item.itemid, name = item.domainName })
        </td>
    </tr>
}

</table>
