﻿@model IEnumerable<WebApplication2.Models.addtionalcomment>

@{
    ViewBag.Title = "Comments";
}

<h2>ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.hero.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.item.discription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.content)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.hero.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.item.discription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.content)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { heroid=item.heroid,itemid=item.itemid/* id=item.PrimaryKey */ }) |
          <!-- @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |-->  
            @Html.ActionLink("Delete", "Delete", new { heroid = item.heroid, itemid = item.itemid/* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
