﻿@model WebApplication2.Models.hero
@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm("details", "Heroes"))

{
    <div class="jumbotron container" style="margin-top:2%; ">
        <h1>Superhero Academy</h1>
       
        <div class="form-group">
             <div class="col-md-10">
                 
                     @Html.Label("Input your code")
                
                  <input class="form-control" style="align-content:flex-start" id="id" name="id" type="text"
                         /> 
                 @Html.ValidationMessageFor(model => model.id, "", new { @class = "text-danger" })

                 
                     <input type="submit" value="Get Your Score" class="btn btn-primary btn-lg" />
                 
            </div>

        </div>
       
           
     

    </div>
}
    <!--   
        <div class="jumbotron">
            <h1>Superhero Academy</h1>
            <input class="form-control"
                   id="id"
                   name="id"
                   type="text"
                   value="Input your code" />
            <p><a href="/heroes/Details/" class="btn btn-primary btn-lg">Get Your Score &raquo;</a></p>
        </div>
  -->