﻿
@{
    ViewBag.Title = "Manage";
}

<h2>Manage</h2>
<div>
    <ul style="font-size:large">
        <li>@Html.ActionLink("Account", "Index", "Account")</li>
        <li>@Html.ActionLink("Heroes", "Index", "Heroes")</li>
        <li>@Html.ActionLink("Item", "Index", "Items")</li>
        <li>@Html.ActionLink("Domain", "Index", "Domains")</li>
        <li>@Html.ActionLink("Scoring Criteria", "Index", "Scorings")</li>
        <li>@Html.ActionLink("Scores of All Testees", "Index", "Scores")</li>
        <li>@Html.ActionLink("Comments", "Index", "addtionalcomments")</li>
    </ul>
    
</div>

