﻿@model IEnumerable<WebApplication2.Models.domain>

@{
    ViewBag.Title = "Domain";
}

<h2>ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.itemid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.color)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.itemid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.score)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.color)
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { itemid=item.itemid, name=item.name/* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { itemid = item.itemid, name = item.name/* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { itemid = item.itemid, name = item.name/* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
