﻿@model IEnumerable<WebApplication2.Models.scoring>

@{
    ViewBag.Title = "Scoring Criteria";
}

<h2>ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.itemid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.domain)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.discription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.score)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.itemid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.domainName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.discription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.score)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { itemid=item.itemid, domain=item.domainName,score=item.score }) |
          <!--  @Html.ActionLink("Details", "Details", new { itemid = item.itemid, domain = item.domainName, score = item.score }) --> |
            @Html.ActionLink("Delete", "Delete", new { itemid = item.itemid, domain = item.domainName, score = item.score })
        </td>
    </tr>
}

</table>
