﻿
@model WebApplication2.Models.item

@{
    ViewBag.Title = "Demo";
    var imagePath = "";
    if (ViewBag.Photo != null)
    {
        imagePath = @"~/Content/Images/" + ViewBag.Photo;
    }
}

<h2 class="text-center">@ViewBag.itemName ! </h2>

<!DOCTYPE html>
<html>

<body>

    <form method="post" action="">

        <div style="padding:10px;">
            @if (imagePath != "")
            {
                <img src=@Url.Content( imagePath ) style="width:100%; height:100%" />

            }
        </div>
    </form>
</body>
</html>
<button class="right" style="font-size : 20px;width: 100%; height: 50px;" onclick="location.href='@Url.Action("Test", new { heroid=ViewBag.heroid, itemid=Model.id })';return false;">Next</button>

