﻿@model WebApplication2.Models.hero
@{
    ViewBag.Title = "Start";
    var imagePath = "";
    if (ViewBag.Photo != null)
    {
        imagePath = @"~/Content/Images/" + ViewBag.Photo;
    }
}

<h2 class="text-center">Welcome @Model.name ! </h2>
<h3 class="text-center">Ready, Set, Play!   </h3>
<!DOCTYPE html>
<html>
<body>
    <form method="post" action="">
        
        <div style="padding:10px;">
            @if (imagePath != "")
            {
                <img src=@Url.Content( imagePath ) style="width:100%; height:100%"/>
                
            }
        </div>
    </form>
</body>
</html>
<button class="right" style="font-size : 20px;width: 100%; height: 40px;" onclick="location.href='@Url.Action("Demo", new { heroid=ViewBag.heroid, itemid = 1 })';return false;">Start Test</button>

