﻿@model IEnumerable<WebApplication2.Models.domain>

@{
    ViewBag.Title = "Test";
    ViewBag.Comment = "Additional comments";
}


<h2 class="text-center"> Scoring Criteria –Item @ViewBag.itemid</h2>
@using (Html.BeginForm("Record", "Test", FormMethod.Post))
{
    @Html.Hidden("heroid", (int?) ViewBag.heroid)
    @Html.Hidden("itemid", (int?) ViewBag.itemid)
    
    foreach (var item in Model)
    {

            <font color=@item.color size="5">
                @Html.DisplayFor(modelItem => item.name)
            </font>
           <!--  @Html.Hidden(item.name, 0, new { @score = "score" })-->

        foreach (var choice in item.scoring)
        {
                <div>
                    <font size="4">


                        <span>
                            @Html.RadioButton(item.name,  @choice.score )  @choice.discription
                        </span>
                    </font>
                </div>
        }

    }
    <div style="margin-top:0.5%; font-size:large">Addtional Comments</div>
    @Html.TextArea("comment:", null, new { @class = "form-control" })
    <input style="float:initial" type="submit" value="Submit & Next" />

}
