﻿@model IEnumerable<WebApplication2.Models.score>

@{
    ViewBag.Title = "Performance Score";
    
}
<style type="text/css">
    .blue {
        background-color: #33B7FF;
    }

    .yellow {
        background-color: yellow;
    }

    .red {
        background-color: #FF7733;
    }

    .pending {
        background-color: lime;
    }
</style>
<h2>Hero ID: @ViewBag.id</h2>

<div>
    <h4>@ViewBag.Title</h4>
    
</div>
<table class="table" >
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.domain.item.discription)
        
        </th>
        <th>
            @Html.DisplayNameFor(model => model.domainName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.score1)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="@item.domain.color">
            
            <td>
                @Html.DisplayFor(modelItem => item.itemid)
                .  
                @Html.DisplayFor(modelItem => item.domain.item.discription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.domainName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.score1) 
                /
                @item.domain.score
            </td>
            
        </tr>
    }

</table>
<div style="margin-left:auto">
    <p style="float: left;padding:6px;
     width:30%;  color: black; background-color: #FF7733; border: black 2px solid;text-align:center">
      <font size="4">
          @ViewBag.Red
          @ViewBag.pRed
      </font>
      
    </p>
    
    <p style="float: left; margin-left: 3%;
    
    width:30%; padding:6px; color: black; background-color: #33B7FF; border: black 2px solid;text-align:center">
        <font size="4">
            @ViewBag.Blue
            @ViewBag.pBlue
        </font>
    </p>
    <p style="float: left; margin-left: 3%;
       width:32%; padding:6px; color: black; background-color: yellow; border: black 2px solid;text-align:center">
        <font size="4">
            @ViewBag.Yellow
            @ViewBag.pYellow
        </font>
    </p>
</div>
<div>
    <font size="4">
        Additional Commnets:
        <pre>@Html.Raw(ViewBag.Comment)
        </pre>
    </font>
</div>

<div>

    <p stle="float:none">

        @Html.ActionLink("Back to List", "Index")
    </p>
   
 </div>