﻿@model IEnumerable<WebApplication2.Models.hero>

@{
    ViewBag.Title = "Heroes";
}

<h2>ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
                  @Html.DisplayNameFor(model => model.id)
          
        </th>
        <th>
                   @Html.DisplayNameFor(model => model.name)
         </th>
       
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                            @Html.DisplayFor(modelItem => item.id)
                
            </td>
           
           
            <td>
                            @Html.DisplayFor(modelItem => item.name)
               
            </td>
            
            <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.id })|
                            @Html.ActionLink("Test", "Start", "Test", new { id = item.id }, null)
               
            </td>
        </tr>
    }

</table>
