﻿@model IEnumerable<WebApplication2.Models.comment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hero.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hero.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.heroid }) |
            @Html.ActionLink("Details", "Details", new { id=item.heroid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.heroid })
        </td>
    </tr>
}

</table>
